@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(7, 19, 43);
  color: white
}
.glassy {
  @apply bg-opacity-30 backdrop-filter backdrop-blur-lg;
}

.radiant-text {
  background: linear-gradient(45deg, #7BC9FF,#493f97, #0d0852);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold; /* Optional: Makes the text bold */
}
html {
  scroll-behavior: smooth;
}
.custom-shape-divider-bottom-1716753471 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1716753471 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1716753471 .shape-fill {
  fill: #003f589c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1716753471 svg {
      width: calc(300% + 1.3px);
      height: 425px;
  }
}
    /* fill: #003f589c; */