@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  background-color: rgb(7, 19, 43);
  color: white;
}
.glassy {
  @apply bg-opacity-30 backdrop-filter backdrop-blur-lg;
}

.radiant-text {
  background: linear-gradient(45deg, #7bc9ff, #493f97, #0d0852);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold; /* Optional: Makes the text bold */
}
html {
  scroll-behavior: smooth;
}
.events-gradiient {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.452),
    rgba(3, 1, 121, 0.541)
  );
  cursor: auto;
}
.team-gradient{
  background-image: linear-gradient(
    90deg,
    rgba(167, 245, 255, 0.541),
    rgba(7, 6, 77, 0.918)
  );
}

.custom-shape-divider-bottom-1717277712 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1717277712 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1717277712 .shape-fill {
  fill: #06365ecf;
}
/* teams */

.card-client {
  background: #043941;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #7cdaccab;
  box-shadow: 0 3px 10px rgba(207, 212, 222, 1);
  border-radius: 30px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 7rem;
  height: 7rem;
  border: 3px solid #7cdacc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}


/* projects */
.card-container {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translatex(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(20%);
}

.card:hover .front-content p {
  opacity: 0;
}

/* tiles */
.tile {
  background: rgba(55, 48, 117, 0.74);
  border-radius: 15px;
  box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.tile:hover {
  box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
  scale: 1.1;
}

.time-text {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 600;
}

.time-sub-text {
  font-size: 15px;
  margin-left: 5px;
}

.day-text {
  padding-top: 12px;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 500;
}

.moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}

.tile:hover > .moon {
  font-size: 30px;
}

.acc{
  border: 1.5px solid  white;
  border-radius: 1rem;
  padding: 0.8rem;
  box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
}