@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(7, 19, 43);
  color: white;
}
.glassy {
  @apply bg-opacity-30 backdrop-filter backdrop-blur-lg;
}

.radiant-text {
  background: linear-gradient(45deg, #7bc9ff, #493f97, #0d0852);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold; /* Optional: Makes the text bold */
}
html {
  scroll-behavior: smooth;
}
.custom-shape-divider-bottom-1716753471 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1716753471 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1716753471 .shape-fill {
  fill: #003f589c;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1716753471 svg {
    width: calc(300% + 1.3px);
    height: 425px;
  }
}
/* fill: #003f589c; */

.card {
  width: 230px;
  height: 280px;
  border-radius: 2em;
  padding: 10px;
  background-color: #191919;
  box-shadow: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
}

.profileimage {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  border-radius: 5em;
  width: 100px;
  height: 100px;
}

.pfp {
  border-radius: 35em;
  fill: white;
}

.Name {
  color: white;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
}

.events-gradiient {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.452),
    rgba(3, 1, 121, 0.541)
  );
  cursor: auto;
}
